button.burger-menu(type="button" aria-label="Toggle navigation" onclick="toggleMenu()")
    span.burger-line
    span.burger-line
    span.burger-line
aside.sidebar
  
  a(href='#')
    img(src="./images/logoD.png", alt="Logo" class="logo-img")
  nav.menu 
    ul.nav
      .nav-block
        li.nav-item   
          .nav-subblock
            img(src='./images/square.png')
            a(href='#').nav-link Dashboard
      .nav-block
        .nav-block__first 
         li.nav-item   
          .nav-subblock
            img(src='./images/square.png')
            a(href='#').nav-link Product
        .nav-arrow
            a(href='') 
            img(src='./images/chevron-right2.png' class="arrow")
      .nav-block
        .nav-block__first
         li.nav-item   
          .nav-subblock
            img(src='./images/wallet.png')
            a(href='#').nav-link Customers
        .nav-arrow
            a(href='') 
            img(src='./images/chevron-right2.png' class="arrow")
      .nav-block
        .nav-block__first
         li.nav-item   
          .nav-subblock
            img(src='./images/wallet.png')
            a(href='#').nav-link Income
        .nav-arrow
            a(href='') 
            img(src='./images/chevron-right2.png' class="arrow")
      .nav-block
        .nav-block__first
         li.nav-item   
          .nav-subblock
            img(src='./images/discount.png')
            a(href='#').nav-link Promote
        .nav-arrow
            a(href='') 
            img(src='./images/chevron-right2.png' class="arrow")
      .nav-block
        .nav-block__first
         li.nav-item   
          .nav-subblock
            img(src='./images/help.png')
            a(href='#').nav-link Help
        .nav-arrow    
            a(href='') 
            img(src='./images/chevron-right2.png' class="arrow")
    .nav-footer
        .user
           img(src="./images/evana.png" alt="User Photo")
        .user-info
         .user-name Evano
         .user-subtitle Project manager    
